article > section{
    background-color: transparent;
}

#perfilSobreMi {
    align-items: center;
    
}
            
#perfilSobreMi > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

section > h2{
    font-size: 2.1rem;
    margin-bottom: 0;
}

section > p{
    font-size: 1.4rem;
    margin-top: 20px;
}

section > img {
    border-radius: 10px;
}


